<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme._101Pipas"
        tools:targetApi="31" >
        <activity
            android:name=".ranking.RankingPrivadoFragment"
            android:exported="false" />
        <activity
            android:name=".social.PerfilAmigoFragment"
            android:exported="false" />
        <activity
            android:name=".social.GroupDetail"
            android:exported="true" />
        <activity
            android:name=".social.ListaGruposFragment"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdPtmRtCHZXetR4pBDpn5Y2uukwocQUr0" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".social.ListaAmigosFragment"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".experiencias.ListadoExperiencias"
            android:exported="false" />
        <activity
            android:name=".autenticacion.RecuperarContrasenia"
            android:exported="false" />
        <activity
            android:name=".autenticacion.Registro"
            android:exported="false" />
        <activity
            android:name=".autenticacion.Login"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".desafios.CrearDesafioActivity"
            android:exported="false" />
        <activity
            android:name=".experiencias.CrearExperienciasActivity"
            android:exported="false" />
    </application>

</manifest>